/* 固定大小的方形表格，每个表格带方字说明（最后的方格带过滤的模板） 【style-a】*/
.instagram-filter {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  max-width: 100%;
  min-height: 700px;
}
.instagram-filter li {
  overflow: hidden;
  position: relative;
  width: 130px;
  height: 100px;
}
/*自定义过滤*/
/* .instagram-filter li.obscure {
  filter: brightness(80%) grayscale(20%) contrast(1.2) opacity(0.6);
} */
.instagram-filter img {
  width: 100%;
  height: 100%;
}
.instagram-filter p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 18px;
  background-color: #e4a736;
  filter: none;
  line-height: 18px;
  color: #fff;
}

/*一、可以改数量的圆角方形相册（以下默认为10行10列，可以修改行列个数）【style-b】*/
.response-album {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.response-album li {
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin: 5px;
  background-color: #f0f0f0;
  width: calc((100% - 10 * 10px) / 10);/*修改行数与列数*/
  height: calc((100% - 10 * 10px) / 10);/*修改行数与列数*/
}
.response-album img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.item:only-child {
  border-radius: 10px;
  width: auto;
  max-width: 80%;
  height: auto;
  max-height: 80%;
}

.item:first-child:nth-last-child(2),
.item:first-child:nth-last-child(2) ~ .item:nth-child(2) {
  width: calc((100% - 2 * 10px) / 2);
  height: calc((100% - 2 * 10px) / 2);
}

.item:first-child:nth-last-child(2) {
  border-radius: 10px 0 0 10px;
}

.item:first-child:nth-last-child(2) ~ .item:nth-child(2) {
  border-radius: 0 10px 10px 0;
}

.item:first-child:nth-last-child(3),
.item:first-child:nth-last-child(3) ~ .item:nth-child(2),
.item:first-child:nth-last-child(3) ~ .item:nth-child(3) {
  width: calc((100% - 2 * 10px) / 2);
  height: calc((100% - 2 * 10px) / 2);
}

.item:first-child:nth-last-child(3) {
  border-top-left-radius: 10px;
}

.item:first-child:nth-last-child(3) ~ .item:nth-child(2) {
  border-top-right-radius: 10px;
}

.item:first-child:nth-last-child(3) ~ .item:nth-child(3) {
  border-bottom-left-radius: 10px;
}

.item:first-child:nth-last-child(4),
.item:first-child:nth-last-child(4) ~ .item:nth-child(2),
.item:first-child:nth-last-child(4) ~ .item:nth-child(3),
.item:first-child:nth-last-child(4) ~ .item:nth-child(4) {
  width: calc((100% - 2 * 10px) / 2);
  height: calc((100% - 2 * 10px) / 2);
}

.item:first-child:nth-last-child(4) {
  border-top-left-radius: 10px;
}

.item:first-child:nth-last-child(4) ~ .item:nth-child(2) {
  border-top-right-radius: 10px;
}

.item:first-child:nth-last-child(4) ~ .item:nth-child(3) {
  border-bottom-left-radius: 10px;
}

.item:first-child:nth-last-child(4) ~ .item:nth-child(4) {
  border-bottom-right-radius: 10px;
}

.item:first-child:nth-last-child(5) {
  border-top-left-radius: 10px;
}

.item:first-child:nth-last-child(5) ~ .item:nth-child(3) {
  border-top-right-radius: 10px;
}

.item:first-child:nth-last-child(5) ~ .item:nth-child(4) {
  border-bottom-left-radius: 10px;
}

.item:first-child:nth-last-child(6) {
  border-top-left-radius: 10px;
}

.item:first-child:nth-last-child(6) ~ .item:nth-child(3) {
  border-top-right-radius: 10px;
}

.item:first-child:nth-last-child(6) ~ .item:nth-child(4) {
  border-bottom-left-radius: 10px;
}

.item:first-child:nth-last-child(6) ~ .item:nth-child(6) {
  border-bottom-right-radius: 10px;
}

.item:first-child:nth-last-child(7) {
  border-top-left-radius: 10px;
}

.item:first-child:nth-last-child(7) ~ .item:nth-child(3) {
  border-top-right-radius: 10px;
}

.item:first-child:nth-last-child(7) ~ .item:nth-child(7) {
  border-bottom-left-radius: 10px;
}

.item:first-child:nth-last-child(8) {
  border-top-left-radius: 10px;
}

.item:first-child:nth-last-child(8) ~ .item:nth-child(3) {
  border-top-right-radius: 10px;
}

.item:first-child:nth-last-child(8) ~ .item:nth-child(7) {
  border-bottom-left-radius: 10px;
}

.item:first-child:nth-last-child(9) {
  border-top-left-radius: 10px;
}

.item:first-child:nth-last-child(9) ~ .item:nth-child(3) {
  border-top-right-radius: 10px;
}

.item:first-child:nth-last-child(9) ~ .item:nth-child(7) {
  border-bottom-left-radius: 10px;
}

/* 以下是imgtex (1/4)*/
*{ margin:0; padding:0; list-style:none;}
body {
    background-color: #fff;
}
img{ border:0;}
#zzsc{ height:auto; width:820px;margin:10px auto; overflow:hidden;}
#zzsc ul li{ width:396px; height:251px;float:left; margin:0px 10px 10px 0px; position:relative;}
#zzsc ul li .text{ width:100%; height:0;position:absolute; left:0; bottom:0; background:rgba(241, 150, 45, 0.9); font-size:12px; color:#fff;}
/* 隐藏滚动条 */
#zzsc ul li .text{
    overflow-x: hidden;
    overflow-y: scroll;
}
#zzsc ul li .text::-webkit-scrollbar {
    display: none;
}
#zzsc ul li .text p{text-align:left; color:#fff; line-height:180%; padding:5px 10px; clear:both;}
#zzsc ul li .text b{ display:block; padding:5px 10px; display:block; float:left; background:#333; margin-bottom:5px;color:#fff}

/* 以下是mm-win (win【1/5】，poptrox.css)*/
body {
  font-family: sans-serif;
  font-size: 8pt;
  color: #444;
  line-height: 1.5em;
}
h1 {
  font-size: 1.5em;
}
#wrapper {
  max-width: 100%;/*可改原：900px*/
  margin: 0 auto;
  text-align: center;
}
#gallery {
  overflow: hidden;
}
#gallery a {
  display: block;
  float: left;
  text-decoration: none;
}
#gallery a img {
  display: block;
  border: 0;
}

/* 以下是texa (标柱)*/
p {
  line-height: 25px;;
}
.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}
.tooltip:before{
  content: attr(tooltip-data);
  position: absolute;
  width: 100px;
  background-color: #0e2b45;
  color: #fff;
  text-align: center;
  padding: 5px;
  line-height: 1.1;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity .5s;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.70em;
  visibility: hidden;
}
.tooltip:after {
  content: "";
  position: absolute;
  bottom: 80%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  opacity: 0;
  transition: opacity .5s;
  border-color: #0e2b45 transparent transparent transparent;
  visibility: hidden;
}
.tooltip:hover:before,
.tooltip:hover::after {
  opacity:1;
  visibility: visible;
}

/* 以下是shadow text1 (3d标题)*/
@import url('https://fonts.googleapis.com/css2?family=luckiest+Guy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    /*background: linear-gradient(45deg, #bfbfbf, #e6e6e6);*/
    /* 
    整页范围正中阴影文字
    display: flex;
    justify-content: flex;
    justify-content: center;
    align-items: center; */
    /* 
    整页范围置顶阴影文字
    display: flex;
    flex-direction: row;
    justify-content: center; */
}
#shadow {
    /*#text范围为阴影文字（以下三行只）*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5vmin;
    font-family: 'Luckiest Guy';
    line-height: 1;
    margin: 0;
    letter-spacing: 5px;
    color: #e6e6e6;
    text-align: center;
    text-shadow: 2px -2px #fff, -2px 2px #999, -5px 5px 3px #80808080;
}

/*以下是折叠css文件1/1【start】*/
body {
  margin: 30px auto;
 }
 ul {
  list-style: none;
 }
 #faq {
  font-size: 12px;
  width: 100%;
 }
 #faq li {
  margin: 0 0 5px;
  padding: 0 0 0px;
 }
 #faq dl {
  padding: 2px 10px 2px 30px;
  margin: 0;
  padding:0;
  display:inline;
 }
 #faq dt {
  /* font-weight:bold; */
  margin: 0 0 0 20px;
  cursor:pointer;
  line-height: 10px;
  padding: 0 0 5px 5px;
  border-bottom:1px #ccc dotted;
 }
 #faq dd {
  display:none;
  font-size: 10px;
  margin:0;
  padding: 2px 10px 2px 40px;
  background:#f4f4f5;
  line-height: 150%;
 }
/*以下是折叠css文件1/1【end】*/
